.btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid transparent;
  transition: linear .2s;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: .5px;
  width: fit-content;
  img{
    transition: linear .2s;
  }
  &:hover{
    transform: translate(-3px, -3px);
  }
  &--transparent {
    height: 55px;
    padding: 15px 30px;
    border: 1px solid;
    border-color: #fff;
    color: #fff;
    img {
      margin: 0 0 0 10px;
    }
    &:hover{
      background-color: #F3A13D;
      border-color: #F3A13D;
      img{
        margin: 0 0 -3px 10px;
        transform: rotate(45deg);
      }
    }
  }
  &--transparent2{
    height: 55px;
    padding: 15px 30px;
    border: 1px solid;
    border-color: #1A1A1A;
    color: #1A1A1A;
    width: fit-content;
    img {
      margin: 0 0 0 10px;
    }
    &:hover{
      background-color: #F3A13D;
      border-color: #F3A13D;
      img{
        margin: 0 0 -3px 10px;
        transform: rotate(45deg);
      }
    }
  }
}