@import "global";
@import "fonts";
@import "btns";
@import "select";

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: rgb(26, 26, 26);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    height: 85px;
  }

  &__logo {
    margin: 0 100px 0 0;
    width: 115px;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
    }

    li {
      margin: 0 45px 0 0;
    }

    a {
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 2px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 1.5px;
        bottom: -2px;
        width: 0;
        background-color: #F3A13D;
        transition: linear .2s;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__search {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    cursor: pointer;

    button {
      padding: 0;
      width: 0;
      opacity: 0;
      background-color: transparent;
      border: none;
      transition: linear .2s;
      cursor: pointer;
    }

    input {
      padding: 0;
      width: 0;
      opacity: 0;
      color: #fff;
      background-color: transparent;
      border: none;
      font-size: 12px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 2%;
      transition: linear .2s;
    }

    input::placeholder {
      color: #fff;
    }
  }

  &__search.active {
    position: relative;

    button {
      padding: 0 15px;
      position: absolute;
      z-index: 101;
      left: -285px;
      width: 50px;
      height: 20px;
      opacity: 1;
      background: rgb(26, 26, 26);
    }

    input {
      position: absolute;
      z-index: 101;
      left: -240px;
      width: 250px;
      height: 20px;
      opacity: 1;
      background: rgb(26, 26, 26);
    }

  }

  &__search-btn {
    display: flex;
    align-items: center;
  }

  &__user {
    margin: 0 0 0 25px;
    width: 19px;
    height: 19px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__heart {
    margin: 0 0 0 25px;
    width: 19px;
    height: 19px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__basket {
    margin: 0 0 0 25px;
    width: 19px;
    height: 19px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__heart,
  &__basket {
    position: relative;

    span {
      position: absolute;
      top: -9px;
      right: -9px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: rgba(243, 161, 61, 1);
      font-size: 12px;
      color: rgba(26, 26, 26, 1);
    }
  }

  &__languege {
    width: 76px;
    margin: 0 0 0 auto;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;

  }

  &__languege-child {
    padding: 0 20px 0 13px;
    position: relative;
    height: 48px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
      right: 20px;
      background-image: url("../images/dest/icons/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 12px;
      height: 13px;
    }

    &:hover {
      .header__languege-dropdown {
        z-index: 10;
        width: 100%;
        left: 0;
        top: 48px;
        text-align: center;

        li {
          padding: 5px 0;
        }
      }

      .header__languege-dropdown-wrap {
        background-color: #1a1a1a;
        display: block;
        z-index: 10;
        width: 100%;
        left: -14px;
        top: 39px;
        padding: 13px 0 13px 0;
        border-radius: 0 0 5px 5px;
      }
    }

    &>span {
      line-height: 48px;
      text-transform: capitalize;
    }
  }

  &__languege-dropdown-wrap {
    position: absolute;
    display: none;
  }

  &__languege-dropdown {

    li:hover {
      color: #F3A13D;
    }
  }

  &__menu-btn {
    display: none;
  }
}

.header__search.active input {
  padding: 10px;
  position: absolute;
  z-index: 101;
  left: 40px;
  right: 0;
  width: calc(100% - 40px);
  height: 40px;
  bottom: -40px;
  border: 1px solid rgb(142, 142, 142);
  border-radius: 0 2px 2px 0;
  border-left: none;
}

.header__search.active {
  position: static;
}

.header__search.active button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  height: 40px;
  width: 40px;
  bottom: -40px;
  border: 1px solid rgb(142, 142, 142);
  border-radius: 2px 0 0 2px;
  border-right: none;
}

/*start intro===============*/
.intro {
  margin: 86px 0 0 0;

  h2 {
    margin: 0 0 75px 0;
    max-width: 660px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: "Ubuntu", sans-serif;
    font-size: 86px;
    font-weight: 700;
    line-height: 120%;
  }

  .swiper-slide {
    padding: 140px 0 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__slider {
    position: relative;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3A13D;
    transition: linear .2s;

    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: auto;
    right: 80px;
  }

  .swiper-button-disabled {
    opacity: 1;
    background-color: #1A1A1A;
  }

  ul {
    display: flex;
    flex-direction: column
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: linear .2s;

    &:hover {
      opacity: .5;
    }
  }

  li+li {
    margin: 65px 0 0 0;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      height: 30px;
      width: 1px;
      left: 50%;
      transform: translateX(-50%);
      top: -50px;
      background-color: rgba(#fff, .5);
    }
  }
}

.swiper-button-prev {
  transform: rotate(180deg)
}

.swiper-button-next,
.swiper-button-prev {
  &::after {
    display: none;
  }
}

/*ebd intro===============*/

/*start catalog============*/
.catalog {
  padding: 125px 0 140px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;

  .title {
    color: #1A1A1A;
    border-bottom: 1px solid rgba(26, 26, 26, 0.5);
    padding: 15px 180px 15px 0;
    margin: 0 0 70px 0;
  }

  &__slider {
    position: relative;
  }

  .swiper-slide {
    position: relative;
    height: 670px;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      transition: linear .2s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(-65.74deg, rgba(26, 26, 26, 0.86) 25.161%, rgba(26, 26, 26, 0) 73.901%);
      transition: linear .2s;
    }

    p {
      margin: 0 -50px 32px 0;
      position: absolute;
      bottom: 155px;
      right: -90px;
      z-index: 1;
      font-family: "Ubuntu", sans-serif;
      font-size: 50px;
      font-weight: 400;
      line-height: 60px;
      transform: rotate(-90deg);
      width: 100%;
      text-align: left;
    }

    &:hover {
      img {
        filter: grayscale(0);
      }

      &::after {
        opacity: 0;
      }
    }
  }

  // .swiper-slide:nth-child(even) {
  //   margin: 50px 0 0 0;
  // }

  .container {
    overflow: hidden;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: -120px;
    width: 45px;
    height: 45px;

    svg path {
      transition: linear .2s;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/dest/icons/decor-arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-repeat: no-repeat;
      width: 45px;
      height: 45px;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      transition: linear .2s;
    }

    &:hover {
      svg path {
        fill: #F3A13D;
      }

      &::before {
        background-image: url("../images/dest/icons/decor-arrow3.svg");
      }
    }
  }

  .swiper-button-prev {
    left: auto;
    right: 100px;
  }

  .swiper-button-disabled {
    opacity: 1;

    &::before {
      opacity: 0;
    }
  }
}
.category-item:nth-child(even){
  margin: 30px 0 0 0;
}
/*enb catalog============*/

/*start about=========*/
.about {
  background-color: #1A1A1A;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    margin: 0 80px 0 -115px;
    max-width: 620px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-size: 0;
    }

  }

  &__content {
    padding: 80px 0 100px;
    max-width: 630px;
    width: 100%;
  }

  .title {
    padding: 0 0 15px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin: 0 0 15px 0;
    letter-spacing: 0.4px;
  }

  .btn {
    margin: 60px 0 0 0;
  }
}

/*end about=========*/

/*start excellence=========*/
.excellence {
  padding: 140px 0 140px;
  background-image: url("../images/dest/content/excellence-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .title {
    color: rgb(26, 26, 26);
    font-size: 60px;
    font-weight: 500;
    line-height: 120%;
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgb(243, 161, 61);
    margin: 0 0 70px 0;
  }

  ul {
    margin: 0 0 0 -35px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {
      padding: 50px 25px 80px;
      width: calc(20% - 35px);
      margin: 0 0 35px 35px;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: rgb(26, 26, 26);
      text-align: center;

      img {
        margin: 0 0 20px 0;
      }

      h6 {
        margin: 0 0 20px 0;
        color: rgb(243, 161, 61);
        font-size: 20px;
        font-weight: 500;
        line-height: 140%;
        text-align: center;
      }

      p {
        margin: 0 0 15px 0;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 400;
        line-height: 140%;
      }
    }

    li:nth-child(even) {
      margin: 30px 0 0 35px;
    }
  }
}

/*end excellence=========*/

/*start talk===============*/
.talk {
  background-color: #272727;

  .title {
    padding: 0 0 15px 0;
    margin: 0 0 70px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__slider {
    position: relative;
  }



  .swiper-slide {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 30px;
  }



  .container {
    overflow: hidden;
    padding: 100px 15px 210px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: auto;
    bottom: -100px;
    width: 45px;
    height: 45px;

    svg path {
      transition: linear .2s;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/dest/icons/decor-arrow2.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-repeat: no-repeat;
      width: 45px;
      height: 45px;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      transition: linear .2s;
    }

    &:hover {
      svg path {
        fill: #F3A13D;
      }

      &::before {
        background-image: url("../images/dest/icons/decor-arrow3.svg");
      }
    }
  }

  .swiper-button-next {
    right: auto;
    left: 100px;
  }

  .swiper-button-disabled {
    opacity: 1;

    &::before {
      opacity: 0;
    }
  }
}

.review {
  .talk__top {
    margin: 0 0 30px 0;
    padding: 0 80px 0 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 55px;
      height: 45px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-image: url("../images/dest/icons/brackets.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  h6 {
    margin: 0 0 5px 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
  }

  span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
  }

  .talk__text {
    margin: 0 0 15px 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 4;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  .talk__text.open {
    -ms-line-clamp: 100;
    -webkit-line-clamp: 100;
    line-clamp: 100;
  }

  .talk__text.open+.talk__show {
    display: none;
  }

  .talk__show {
    display: block;
    width: fit-content;
    margin: 30px 0 0 auto;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    cursor: pointer;
    transition: linear .2s;

    &:hover {
      color: #fff;
    }
  }
}

/*end talk===============*/

/*start filter============*/
.filter {
  padding: 0 0 120px 0;

  &__btn {
    display: none;
  }

  .title {
    margin: 0 0 70px 0;
    padding: 0 0 15px 0;
    font-size: 64px;
    color: rgb(26, 26, 26);
    border-bottom: 1px solid rgba(26, 26, 26, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__right-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 0 -25px;
    width: 100%;
  }

  .card {
    width: calc(33.33333% - 25px);
    margin: 0 0 25px 25px;
  }
}

.stickers {
  position: absolute;
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;
    margin: 0 0 15px 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    background-color: rgb(243, 161, 61);
  }
}

.card {
  position: relative;
  padding: 25px;
  border: 1px solid rgba(26, 26, 26, 0.5);
  border-radius: 2px;
  display: flex;
  flex-direction: column;

  &__img {
    margin: 0 0 25px 0;
    flex: 1 1 auto;
    max-height: 325px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .stickers {
    top: 40px;
    left: 40px;
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  h6 {
    margin: 0 0 15px 0;
    color: rgb(26, 26, 26);
    font-size: 22px;
    font-weight: 500;
    line-height: 120%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    margin: 0 5px 0 0;
    display: flex;
    flex-direction: column;

    strong {
      display: flex;
      margin: 0 0 10px 0;
      color: rgb(26, 26, 26);
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;
    }

    span {
      color: rgb(142, 142, 142);
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      text-decoration-line: line-through;
    }
  }

  &__like {
    margin: 0 15px 0 auto;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 2px;
  }

  &__basket {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(26, 26, 26);
    ;
  }

  &__like.active {
    border-color: rgb(243, 161, 61);

    svg path {
      fill: rgb(243, 161, 61);
    }
  }

  &__basket.active {
    background-color: rgb(243, 161, 61);

    svg path {
      fill: rgb(26, 26, 26);
    }
  }
}

.category-list {
  margin: 0 25px 0 0;
  max-width: 285px;
  width: 100%;

  &__close {
    display: none;
  }

  &__inner {
    width: 100%;

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgb(243, 161, 61);
      border-radius: 5px;
    }

    ::-webkit-scrollbar-track {
      background-color: #D9D9D9;
      border-radius: 5px;
      margin-bottom: 3px;
    }

    &>ul {
      overflow: auto;
    }
  }

  &__subchild-list,
  &__child-list {
    display: none;
  }

  .category-list__child-item.open,
  .category-list__subchild-item.open {
    &::before {
      content: "";
      transform: translateY(-50%) rotate(0deg);
    }
  }

  .category-list__child-item.open+ul {
    display: block;
  }

  &__close {
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__title {
    position: relative;
    padding: 0 20px 0 0;
    margin: 0 0 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 2px;
      background-color: #000;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  &__title.active {
    &::after {
      opacity: 0;
    }
  }

  &__chek-list {
    margin: 0 0 16px 0;
    display: none;
    max-height: 285px;
    overflow: auto;
  }

  &__title.active+.category-list__chek-list {
    display: block;
  }

  &__chek {
    width: 100%;
    padding: 3.5px 5px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: linear .1s;

    span {
      position: relative;
      padding: 0;
      margin: 0 15px 0 0;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid #868E96;
      flex-shrink: 0;
      transition: linear .1s;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../images/dest/icons/check.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        transition: linear .1s;
      }
    }

  }

  &__chek.active {
    span {
      border-color: rgb(243, 161, 61);

      &::before {
        opacity: 1;
      }
    }
  }

  &__filter-acept {
    margin: 0 25px 0 0;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(26, 26, 26);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    border-radius: 2px;
    background: rgb(243, 161, 61);
    height: 30px;
    border: none;
    cursor: pointer;
  }

  &__filter-clear {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgb(142, 142, 142);
    border-radius: 2px;

    height: 30px;
    color: rgb(142, 142, 142);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
  }
}

.range__box {
  margin: 20px 0 0 0;
  display: flex;
}

/*end filter============*/

/*start product===============*/
.product {
  margin: -35px 0 0 0;

  .container {
    padding: 60px 15px 100px;
    border-top: 1px solid rgba(26, 26, 26, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 25px 0 0;
    max-width: 595px;
    width: 100%;
    height: 670px;
  }

  &__slider {
    width: 80%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-side {
    position: relative;
    width: 20%;
    overflow: hidden;
    height: 475px;
    padding: 0 0 100px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100px;
      background-color: #e1dedb;
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-slide {
      padding: 0 20px 0 0;
      cursor: pointer;
      transition: linear .2s;
    }

    .swiper-slide-thumb-active {
      opacity: .5;
    }

    .swiper-button-prev {
      display: none;
    }

    .swiper-button-next {
      padding: 0 20px 0 0;
      right: 50%;
      transform: translateX(50%);
      width: 100%;
      height: 45px;
      top: auto;
      bottom: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

  }

  &__right {
    width: 100%;

    &>span {
      margin: 30px 0 10px 0;
      display: flex;
      color: rgb(26, 26, 26);
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
    }
  }

  h6 {
    color: rgb(26, 26, 26);
    font-family: "Ubuntu", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
    margin: 0 0 5px 0;
  }

  &__pass {
    margin: 0 0 40px 0;
    display: flex;
    color: rgb(26, 26, 26);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;

    span {
      font-weight: 400;
      padding: 0 5px 0 0;
    }

    strong {
      font-weight: 500;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;

    span {
      color: rgb(142, 142, 142);
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      text-decoration-line: line-through;
    }

    strong {
      display: flex;
      color: rgb(26, 26, 26);
      font-size: 40px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  p {
    margin: 0 0 15px 0;
    color: rgba(26, 26, 26, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }

  &__size,
  &__color {
    display: flex;
    flex-direction: row;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 9px 10px;
      height: 40px;
      border: 1px solid rgb(187, 187, 187);
      border-radius: 2px;
      background: rgb(225, 222, 219);
      color: rgb(26, 26, 26);
      font-size: 14px;
      font-weight: 400;
      line-height: 160%;
    }

    a+a {
      margin: 0 0 0 10px;
    }

    .unclick {
      color: #BBBBBB;
      border-color: #BBBBBB;
      pointer-events: none;
    }

    .active {
      background-color: rgba(243, 161, 61, 1);
      border-color: transparent;
    }
  }

  &__calc {
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;

    input {
      margin: 0 10px;
      height: 40px;
      width: 130px;
      text-align: center;
      background-color: transparent;
      border: 1px solid rgb(187, 187, 187);
      outline: none;
    }
  }

  &__minus,
  &__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
  }

  &__add {
    margin: 40px 0 0 0;
    display: flex;
    align-items: center;
  }

  &__basket {
    margin: 0 40px 0 0;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #1A1A1A;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;

    img {
      margin: 0 10px 0 0;
    }
  }

  &__like {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

/*end product===============*/

/*start u-info=======*/
.u-info {
  padding: 100px 0 90px;
  background-color: #272727;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 595px;
    width: 100%;
    margin: 0 30px 0 0;

    p {
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      margin: 0 0 15px 0;
      letter-spacing: 0.4px;
    }

    ul {
      li {
        position: relative;
        padding: 0 0 0 25px;
        margin: 0 0 10px 0;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;

        &::after {
          position: absolute;
          top: 7px;
          left: 0;
          content: "";
          width: 8px;
          height: 8px;
          background-image: url("../images/dest/icons/bubna.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

      }
    }
  }

  h6 {
    padding: 0 0 15px 0;
    margin: 0 0 40px 0;
    color: rgb(255, 255, 255);
    font-family: "Ubuntu", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  &__right {
    max-width: 500px;
    width: 100%;
    height: fit-content;

    a {
      display: flex;
      width: fit-content;
      margin: -30px 0 0 10px;
      position: relative;
      z-index: 11;
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
      font-weight: 400;
      line-height: 160%;
      transition: linear .2s;

      &:hover {
        color: #fff;
      }
    }
  }

  &__slider {
    position: relative;
    padding: 0 0 80px 15px;
    height: 600px;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80px;
      background-color: #272727;
      z-index: 10;
    }

    h6 {
      padding: 0;
      margin: 0 0 5px 0;
      border-bottom: none;
      font-size: 18px;
    }

    .review .talk__top {
      margin: 0 0 15px 0;
    }

    p {
      margin: 0 0 15px 0;
      color: rgb(255, 255, 255);
      font-size: 12px;
      font-weight: 400;
      line-height: 140%;
    }

    .review {
      border-bottom: 1px solid #fff;
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: auto;
      width: 45px;
      height: 45px;
      bottom: 0;

      &::before {
        content: "";
        position: absolute;
        background-image: url("../images/dest/icons/decor-arrow2.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        transition: linear .2s;
      }
    }

    .swiper-button-prev {
      left: auto;
      right: 100px;
    }

    .swiper-button-disabled {
      opacity: 1;

      &::before {
        opacity: 0;
      }
    }
  }
}

/*end u-info=======*/

/*start contacts=========*/
.contacts {
  margin: -40px 0 0 0;
  padding: 0 0 120px 0;

  .title {
    padding: 0 0 15px 0;
    margin: 0 0 70px 0;
    border-bottom: 1px solid rgba(26, 26, 26, 0.5);
    color: #1A1A1A;
    font-size: 64px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 50px -25px;

    &>li {
      display: flex;
      margin: 0 0 25px 25px;
      width: calc(25% - 25px);
      padding: 25px;
      border-radius: 4px;
      background: rgb(26, 26, 26);

      li {

        margin: 0 0 5px 0;
        color: rgb(243, 161, 61);
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
      }

      li:last-child {
        margin: 0;
      }
    }

    img {
      width: 28px;
      height: 28px;
      margin: 0 20px 0 0;
    }

    h6 {
      margin: 0 0 10px 0;
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
    }
  }

  a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: linear .2s;

    &:hover {
      text-decoration-color: rgb(243, 161, 61);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 435px;
    width: 100%;
    margin: 0 20px 0 0;

    strong {
      display: flex;
      margin: 0 0 18px 0;
      color: rgb(26, 26, 26);
      font-family: "Ubuntu", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 140%;
    }

    p {
      margin: 0 0 15px 0;
      color: rgb(142, 142, 142);
      font-size: 14px;
      font-weight: 400;
      line-height: 160%;
    }

    span {
      display: flex;
      margin: 40px 0 25px 0;
      color: rgb(26, 26, 26);
      font-family: "Ubuntu", sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 140%;
    }
  }

  &__right {
    max-width: 700px;
    width: 100%;
  }

  .btn {
    height: 37px;
    font-size: 12px;
    padding: 5px 25px;
  }
}

.social {
  display: flex;
  align-items: center;

  li+li {
    margin: 0 0 0 15px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 50%;
    transition: linear .2s;

    &:hover {
      opacity: .7;
    }
  }
}

/*end contacts=========*/

/*start about-intro============*/
.about-intro {
  margin: -40px 0 0 0;

  .title {
    padding: 0 0 15px 0;
    margin: 0 0 70px 0;
    color: rgb(26, 26, 26);
    font-size: 64px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.5);
  }

  &__inner {
    padding: 100px 0 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .container {
      display: flex;
      justify-content: space-between;
    }

    blockquote {
      margin: 0;

      strong {
        margin: 0 0 35px 0;
        display: flex;
        align-items: center;
        color: rgb(243, 161, 61);
        font-size: 20px;
        font-weight: 500;
        line-height: 140%;

        img {
          margin: 0 15px 0 0;
        }
      }

      p {
        margin: 0;
      }
    }
  }

  &__left {
    margin: 0 30px 0 0;
    max-width: 635px;
    width: 100%;

    h3 {
      color: rgb(255, 255, 255);
      font-family: "Ubuntu", sans-serif;
      font-size: 40px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: .3px;
    }

    h5 {
      color: rgb(255, 255, 255);
      font-family: "Ubuntu", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 140%;
    }
  }

  &__text {
    max-width: 520px;
    width: 100%;
  }


  p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin: 0 0 15px 0;
  }


}

/*end about-intro============*/

/*start u-excellence===============*/
.u-excellence {
  padding: 120px 0 95px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .title {
    color: rgb(26, 26, 26);
    padding: 0 0 15px 0;
    margin: 0 0 70px 0;
    border-bottom: 1px solid rgb(243, 161, 61);
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 0 -25px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(25% - 25px);
      margin: 0 0 25px 25px;
      padding: 50px 25px;
      border-radius: 4px;
      background: rgb(39, 39, 39);
      text-align: center;
    }

    img {
      margin: 0 0 20px 0;
    }

    h6 {
      margin: 0 0 20px 0;
      color: rgb(243, 161, 61);
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: .2px;
    }

    p {
      margin: 0;
      color: rgb(255, 255, 255);
      font-size: 12px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: .2px;
    }
  }
}

/*end u-excellence===============*/

/*start d-excellence==============*/
.d-excellence {
  background-color: #1A1A1A;
  padding: 100px 0 75px;

  .title {
    padding: 0 0 15px 0;
    margin: 0 0 70px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 0 -25px;

    li {
      padding: 30px;
      margin: 0 0 25px 25px;
      width: calc(33.33333% - 25px);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 4px;
    }

    img {
      margin: 0 30px 0 0;
    }

    h6 {
      text-align: left;
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: .2px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      margin: 0;
    }
  }

  &__list-top {
    justify-content: flex-start;
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
  }
}

/*ebd d-excellence==============*/

/*start choice================*/
.choice {
  background-color: #1A1A1A;
  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    position: relative;
    z-index: 2;
    margin: 0 30px 0 -110px;
    max-width: 630px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    padding: 80px 0 0 0;
    max-width: 620px;
    width: 100%;
  }

  .title {
    font-size: 60px;
    padding: 0 0 15px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid rgb(243, 161, 61);
  }

  &__list {
    li {
      margin: 0 0 30px 0;
      display: flex;
    }

    img {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin: 0 25px 0 0;
    }
  }

  h6 {
    margin: 0 0 5px 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
  }

  p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: .8px;
    margin: 0;
  }

  &__info {
    margin: 70px 0 0 0;
    position: relative;
    z-index: 1;
    padding: 50px 0;
    background-color: #F3A13D;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 200vh;
      top: 0;
      left: -30%;
      background-color: #F3A13D;
      z-index: -1;
    }

    p {
      color: rgb(26, 26, 26);
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
    }
  }

  .btn {
    margin: 30px 0 0 0;
    font-size: 16px;
    letter-spacing: .5px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

/*end choice================*/

/*start cart===============*/
.cart {
  margin: -40px 0 0 0;
  padding: 0 0 120px 0;

  .title {
    color: rgb(26, 26, 26);
    font-size: 64px;
    padding: 0 0 15px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid rgba(26, 26, 26, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 600px;
    width: 100%;
    margin: 0 20px 0 0;
  }

  &__right {
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background-color: #272727;
    height: fit-content;

    h4 {
      padding: 0 0 10px 0;
      margin: 0 0 40px 0;
      color: rgb(255, 255, 255);
      font-family: "Ubuntu", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 140%;
      border-bottom: 1px solid rgb(142, 142, 142);
    }
  }

  &__item {
    position: relative;
    padding: 0 0 20px 0;
    margin: 0 0 25px 0;
    border-bottom: 1px solid rgb(187, 187, 187);

    h6 {
      margin: 0 0 10px 0;
      padding: 0 30px 0 0;
      color: rgb(243, 161, 61);
      font-size: 20px;
      font-weight: 500;
      line-height: 120%;
    }

  }

  &__item-close {
    padding: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
  }

  &__info-size {
    margin: 0 40px 0 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2px;

    span {
      padding: 0 0 0 10px;
    }
  }

  &__info-color {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2px;

    span {
      padding: 0 0 0 10px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__calc {
    display: flex;

    input {
      margin: 0 10px;
      height: 28px;
      width: 60px;
      color: rgb(243, 161, 61);
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 2px;
      text-align: center;
      background-color: transparent;
      border: 1px solid rgb(187, 187, 187);
      border-radius: 2px;
      outline: none;
    }
  }

  &__minus,
  &__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2px;
  }

  &__price {
    margin: 0 60px 0 15px;
    color: rgb(243, 161, 61);
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1.5px;
  }

  &__total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Ubuntu", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
  }

  .btn {
    font-size: 14px;
    height: 40px;
  }
}

.basket-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 25px 0;
  color: #1a1a1a;

  span {
    margin: 0 0 0 25px;
  }
}

.basket-form__radio {
  display: none;
}

.basket-form__check-fake {
  margin: 0;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(243, 161, 61);
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    width: 10px;
    height: 10px;
    background-color: rgb(243, 161, 61);
    border-radius: 50%;
    opacity: 0;
  }
}

.basket-form__radio:checked+.basket-form__check-fake {
  border: 2px solid rgb(243, 161, 61);

  &::before {
    opacity: 1;
  }
}

/*end cart===============*/

/*start sign-up================*/
.sign-up {
  margin: 84px 0 0 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    max-width: 910px;
    width: 100%;
    height: 825px;
    margin: 0 0 0 -100px;
    font-size: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    margin: 75px 0 40px -350px;
    padding: 60px;
    max-width: 740px;
    width: 100%;
    background-color: #1A1A1A;

    &>span {
      display: flex;
      margin: 0 0 30px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 160%;
      letter-spacing: 2px;

      a {
        color: #F3A13D;
      }
    }
  }

  .title {
    padding: 0 0 5px 0;
    margin: 0 0 15px 0;
    color: rgb(255, 255, 255);
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 120%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .form {

    input,
    textarea {
      background-color: transparent;
      color: #fff;
    }

    span {
      color: #fff;
    }
  }
}

/*end sign-up================*/

/*start cabinet=====================*/
.cabinet {
  margin: -40px 0 0 0;
  padding: 0 0 50px 0;

  &__close {
    display: none;
  }

  &__btn {
    display: none;
  }

  .title {
    padding: 0 0 15px 0;
    margin: 0 0 40px 0;
    color: rgb(26, 26, 26);
    font-family: "Ubuntu", sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1.5px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    padding: 25px 15px 25px 25px;
    max-width: 290px;
    width: 100%;
    margin: 0 20px 0 0;
    border-radius: 2px;
    background: rgb(26, 26, 26);
    height: fit-content;

    ul {
      margin: 40px 0 0 0;
    }

    li:last-child {
      margin: 120px 0 0 0;
    }

    li.active {
      a {
        color: #F3A13D;
        border-color: #F3A13D;
      }
    }

    a {
      display: flex;
      padding: 14px;
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: 500;
      line-height: 140%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      transition: linear .2s;

      &:hover {
        color: #F3A13D;
      }
    }
  }

  &__user {
    margin: 0 0 5px 0;
    color: rgb(255, 255, 255);
    font-family: "Ubuntu", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
  }

  &__mail-info {
    color: rgb(243, 161, 61);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 2px;
  }

  &__right {
    max-width: 805px;
    width: 100%;

    h4 {
      margin: 0 0 85px 0;
      padding: 0 0 10px 0;
      color: rgb(26, 26, 26);
      font-family: "Ubuntu", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 140%;
      border-bottom: 1px solid rgb(142, 142, 142);

      span {
        margin: 5px 0 0 0;
        color: rgb(26, 26, 26);
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 2px;
        display: flex;
      }
    }

    h6 {
      margin: 0 0 25px 0;
      padding: 0 0 5px 0;
      color: rgb(26, 26, 26);
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
      border-bottom: 1px solid rgb(187, 187, 187);
    }
  }

  &__order-top {
    margin: -65px 0 0 0;
    padding: 9px 0;
    border-bottom: 1px solid rgb(187, 187, 187);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cabinet__order-col {

      color: rgb(142, 142, 142);
      font-size: 14px;
      font-weight: 400;
      line-height: 160%;
      letter-spacing: 2px;
    }

  }

  &__order-col {
    display: flex;
    align-items: center;
    color: rgb(26, 26, 26);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1px
  }

  &__order-col:nth-child(1) {
    max-width: 88px;
    width: 100%;
    padding: 0 25px 0 0;
  }

  &__order-col:nth-child(2) {
    max-width: 88px;
    width: 100%;
    padding: 0 25px 0 0;
  }

  &__order-col:nth-child(3) {
    max-width: 88px;
    width: 100%;
    padding: 0 25px 0 0;
  }

  &__order-col:nth-child(4) {
    max-width: 88px;
    width: 100%;
    padding: 0 25px 0 0;
  }

  &__order-col:nth-child(5) {
    max-width: 88px;
    width: 100%;
    padding: 0 25px 0 0;
  }

  &__order {
    padding: 11px 0;
    border-bottom: 1px solid rgb(187, 187, 187);
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: rgb(243, 161, 61);
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: rgb(243, 161, 61);
      }
    }
  }

  &__detail-top {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(187, 187, 187);

    a {
      display: flex;
      align-items: center;
      color: rgb(26, 26, 26);
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;

      img {
        display: flex;
        margin: 0 10px 0 0;
        transform: rotate(180deg);
        width: 23px;
      }
    }

    p {
      padding: 0 10px 0 0;
      text-align: right;
      margin: 5px 0 0 0;
      color: rgb(142, 142, 142);
      font-size: 12px;
      font-weight: 400;
      line-height: 140%;
    }
  }

  &__info {
    padding: 13px 8px;
    border-bottom: 1px solid rgb(187, 187, 187);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info-box {
    margin: 0 20px 0 0;
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    h3 {
      margin: 0 0 10px 0;
      width: 100%;
      color: rgb(26, 26, 26);
      font-size: 20px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__info-size {
    margin: 0 30px 0 0;
    color: rgb(39, 39, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2px;

    span {
      padding: 0 0 0 10px;
      color: rgb(142, 142, 142);
    }
  }

  &__info-color {
    color: rgb(39, 39, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2px;

    span {
      padding: 0 0 0 10px;
      color: rgb(142, 142, 142);
    }
  }

  &__info-col {
    margin: 0 0 0 20px;
    color: rgb(26, 26, 26);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2px;
  }

  &__info-total {
    margin: 15px 0 40px 0;
    text-align: right;
    color: rgb(26, 26, 26);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1.5px;
  }

  &__payment {
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
    color: rgb(142, 142, 142);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2px;

    span {
      padding: 0 8px;
      color: rgb(26, 26, 26);
    }

    span.active {
      color: #0DA75D;
    }
  }

  &__adress {
    margin: 0 0 40px -20px;
    display: flex;
    justify-content: space-between;
  }

  &__adress-col {
    margin: 0 0 0 20px;
    display: flex;
    color: rgb(142, 142, 142);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    span {
      padding: 0 0 0 8px;
      display: block;
      color: rgb(26, 26, 26);
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }

}

.status-new,
.status-completed,
.status-canceled {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  height: 20px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
  border-radius: 2px;
  background: rgb(1, 148, 217);
}

.status-completed {
  background-color: #0DA75D;
}

.status-canceled {
  background-color: #D23636;
}

/*end cabinet=====================*/

/*start modal===========*/
.modal {
  display: none;
  background-color: #1A1A1A;
  padding: 60px;
  max-width: 745px;
  width: 100%;

  .title {
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 500;
    line-height: 120%;
  }

  p {
    margin: 0 0 25px 0;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }

  span {
    color: #fff;
  }

  input,
  textarea {
    border: 1px solid rgb(142, 142, 142);
    color: #fff;
    background-color: transparent;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

/*end modal===========*/

/*start footer==========*/
.footer {
  background-color: #1A1A1A;

  &__top {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 50px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__col:last-child {
    max-width: 230px;
    width: 100%;
  }

  .footer__col+.footer__col {
    margin: 0 0 0 20px;
  }

  &__form {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 400;
      line-height: 160%;

      &::placeholder {
        color: rgb(255, 255, 255);
      }
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__input-wrap {
    display: flex;
    align-items: center;
  }

  span {
    margin: 0 0 15px 0;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
  }

  li {
    margin: 0 0 5px 0;
  }

  a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: linear .2s;

    &:hover {
      text-decoration-color: #fff;
    }
  }

  li,
  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }

  &__tel {
    color: rgba(243, 161, 61, 1);

    &:hover {
      text-decoration-color: rgba(243, 161, 61, 1) !important;
    }
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.5);

    .footer__inner {
      align-items: center;
    }
  }

  &__logo {
    width: 115px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain
    }
  }

  p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
  }
}

/*end footer==========*/

@media (hover: hover) and (pointer: fine) {
  #cursor {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
  }

  #cursor .cursor--inner {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/dest/content/cursor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

  }
}


@import "media";